body {
    background-color: #f1f3f6;
}

.cart-item {
    border-bottom: 1px solid #e0e0e0;
    transition: background 0.2s ease-in-out;
}

.cart-item:hover {
    background-color: #f9f9f9;
}

.btn-light.border {
    box-shadow: none;
}

.save-for-later, .remove-item {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.save-for-later:hover, .remove-item:hover {
    text-decoration: underline;
}
